.Signin {
    width: 500px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 12px 0 #ccc;
}
.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    margin: 0 0 1rem;
    line-height: 1;
}
.Form > * + * {
    margin-top: 1.5rem;
}

.Button {
    font-size: 1rem;
    background: none;
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    border-radius: 0.25rem;
    cursor: pointer;
}
.Button:focus {
    outline: none;
    border-color: black;
    box-shadow: 0 0 12px -4px black;
}

.Label {
    width: 100%;
    max-width: 20em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.Input {
    flex-grow: 1;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 300;
    display: block;
    margin: 0;
    border: none;
    padding: 0.5em 0;
    line-height: 1;
    transition: border-color 0.2s;
}

.Input:focus {
    outline: none;
}

.Icon {
    width: 1rem;
    opacity: 0;
    order: -1;
    transition: all 0.5s;
    transform: translateX(-100%);
    stroke-dasharray: 0, 20;
    stroke-dashoffset: -14.142;
}

.Icon path {
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.Input:focus + .Icon {
    transform: translateX(0);
    opacity: 1;
    stroke-dasharray: 28.284, 20;
    stroke-dashoffset: 0;
}

.Line {
    width: 100%;
    height: 2px;
    stroke: hsl(0, 0%, 75%);
    stroke-width: 2px;
    margin-left: 1rem;
}

.Line .focus,
.Line .valid,
.Line .invalid {
    transition: all 0.5s;
    stroke-dasharray: 0, 20;
    stroke-dashoffset: -20;
}
.Line .focus {
    stroke: black;
}
.Line .valid {
    stroke: hsl(166, 72%, 40%);
}
.Line .invalid {
    stroke: hsl(0, 100%, 40%);
}

.Input:focus ~ .Line .focus,
.Input:valid ~ .Line .valid,
.Input[data-touched]:invalid ~ .Line .invalid {
    stroke-dasharray: 40, 0;
    stroke-dashoffset: 0;
}
